---
layout: ../_includes/page-layout.njk
---

<h1>My Current Projects:</h1>
<br>

<h3>Digital Projects</h3>
<ul>
    <li><a>Vector Math</a></li>
    <li><a>Flashcard App</a></li>
    <li><a>Vocabulary Trainer</a></li>
    <li><a>Low Poly Modeling</a></li>
    <li><a>Applied Math in Programming</a></li>
    <li><a>AI Productivity Summarizer</a></li>
    <li><a>Having fun with Three.js</a></li>
    <li><a>The Lion Project</a></li>
    <li><a>Data Serialization</a></li>
</ul>

<h3>Miscellanious</h3>
<ul>
    <li><a>My Super Cool Keychain</a></li>
    <li><a>Physical Map Replica</a></li>
    <li><a>Pencil Sketches</a></li>
    <li><a>Home Renovation</a></li>
    <li><a>The Time I Brewed Beer</a></li>
</ul>
